<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel= "stylesheet" type = "text/css" href="{{url_for('static', filename = 'site.css')}}" /> 
		<title>Users</title>
	</head>

	<body>
		<div id = "cardcontainer">
			<article>
				<img src = "/Users/shannondonahue/Desktop/pics/test.jpg">

				
				<a href = "https://www.google.com"><i class="bi bi-info-circle"></i> See details</a>
				

				<div id = "identity">
					<h1>Test Name</h1>
					<span>
						<h2><i class="bi bi-person-fill"></i>ID:1</h2>
					</span>
				</div>
			</article>
		</div>

	</body>
</html>